{% extends 'base.html' %}

{% block menu %}
  <ul id="menu">
    <li class="selected"><a href="{{ url_for('admin.admin_home') }}">主页</a></li>
    <li><a href="{{ url_for('admin.election_register') }}">发布报名</a></li>
    <li><a href="{{ url_for('admin.push_vote') }}">发布投票</a></li>
    <li><a href="{{ url_for('vote.result') }}">投票结果</a></li>
  </ul>
{% endblock %}

{% block header %}
  <h1>{% block title %}欢迎来到E_VOTE管理员系统{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h4>使用手册</h4>
<h5>请仔细阅读以下手册内容，再进行系统操作</h5>
<h5>1.点击“发布报名”，可查看选举公告板。</h5>
<h5>2.如需发布新的竞选公告，在“发布报名”页面中选择“新建”，进入公告信息填写页</h5>
<h5>3.进入“发布投票”页面，可查看已报名候选人并发布投票</h5>
<h5>4.进入“投票结果”页面，公开投票结果后，和用户同步查看选举统计结果。</h5>
<h4>祝您使用愉快！</h4>
{% endblock %}