{% extends 'base.html' %}

{% block menu %}
  <ul id="menu">
    <li><a href="{{ url_for('admin.admin_home') }}">主页</a></li>
    <li><a href="{{ url_for('admin.election_register') }}">发布报名</a></li>
    <li class="selected"><a href="{{ url_for('admin.push_vote') }}">发布投票</a></li>
    <li><a href="another_page.html">投票结果</a></li>
  </ul>
{% endblock %}

{% block header %}
  <h1>{% block title %}候选人信息{% endblock %}</h1>
  <h5><a href="{{ url_for('admin.push_vote') }}">返回</a></h5>
{% endblock %}

{% block content %}
<article class="post">
    <header>
        <div>
            <h4>罗思芬, 34011</h4>
        </div>
    </header>
        <p class="body">自我介绍：我是个正经人，爱好就是嗦粉，大家自己看着办吧。</p>
</article>
<hr>
<article class="post">
    <header>
        <div>
            <h4>海大白水鸭, 34016</h4>
        </div>
    </header>
        <p class="body">自我介绍：潜水技能满分；热爱图书馆，热爱镜湖。选我我会安排所有课都在水中进行~</p>
</article>
<hr>
<article class="post">
    <header>
        <div>
            <h4>海大大白鹅, 23013</h4>
        </div>
    </header>
        <p class="body">自我介绍：爱好起早学习和锻炼，最爱的运动项目是游泳。肤白貌美，希望大家选我，谢谢！</p>
</article>
{% endblock %}