{% extends 'base.html' %}

{% block menu %}
  <ul id="menu">
    <li><a href="{{ url_for('admin.admin_home') }}">主页</a></li>
    <li><a href="{{ url_for('admin.election_register') }}">发布报名</a></li>
    <li class="selected"><a href="{{ url_for('admin.push_vote') }}">发布投票</a></li>
    <li><a href="another_page.html">投票结果</a></li>
  </ul>
{% endblock %}

{% block header %}
  <h1>{% block title %}候选人信息{% endblock %}</h1>
  <h5><a href="{{ url_for('admin.push_vote') }}">返回</a></h5>
{% endblock %}

{% block content %}
  {% for candidate_list in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ candidate_list['candidate_name'] }}, {{ candidate_list['candidate_id'] }}</h1>
          <h4>选举场次：{{ candidate_list['election_number'] }}</h4>
        </div>
      </header>
      <p class="body">{{ candidate_list['discription'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}