{% extends 'base1.html' %}

{% block menubar %}
  <li><a href="{{ url_for('admin.admin_home') }}">主页</a></li>
  <li class="selected"><a href="{{ url_for('admin.election_register') }}">发布报名</a></li>
  <li><a href="page.html">发布投票</a></li>
  <li><a href="another_page.html">投票结果</a></li>
{% endblock %}

{% block header %}
  <h1>{% block title %}新建选举报名{% endblock %}</h1>
  <a class="action" href="{{ url_for('admin.election_register') }}">返回</a>
{% endblock %}

{% block content %}
  <form method="POST">
    <label for="title">标题</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">内容</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}