{% extends 'base.html' %}

{% block menu %}
  <ul id="menu">
    <li><a href="{{ url_for('admin.admin_home') }}">主页</a></li>
    <li><a href="{{ url_for('admin.election_register') }}">竞选公告</a></li>
    <li class="selected"><a href="{{ url_for('admin.push_vote') }}">参与投票</a></li>
    <li><a href="another_page.html">投票结果</a></li>
  </ul>
{% endblock %}

{% block header %}
  <h1>{% block title %}已发布投票{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for election_info in posts %}
    <article class="post">
      <header>
        <div>
            <h1><a href="{{ url_for('admin.votelist') }}">{{ election_info['title'] }}</a></h1><!-- link-->
          <div class="about">by {{ election_info['username'] }} on {{ election_info['created'].strftime('%Y-%m-%d') }}</div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}