{% extends 'base1.html' %}

{% block menu %}
  <ul id="menu">
    <li><a href="{{ url_for('user.user_home') }}">主页</a></li>
    <li class="selected"><a href="{{ url_for('user.notif') }}">竞选公告</a></li>
    <li><a href="page.html">参与投票</a></li>
    <li><a href="another_page.html">投票结果</a></li>
  </ul>
{% endblock %}

{% block header %}
  <h1>{% block title %}已发布报名{% endblock %}</h1>
    {% if g.user %}
      <a class="action" href="{{ url_for('user.enroll_form') }}">报名</a>
    {% endif %}
{% endblock %}

{% block content %}
  {% for election_info in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ election_info['title'] }}</h1>
          <h4>选举场次：{{ election_info['info_id'] }}</h4>
          <div class="about">由 {{ election_info['username'] }} 创建于 {{ election_info['created'].strftime('%Y-%m-%d') }}</div>
        </div>
      </header>
      <p class="body">{{ election_info['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}