html {
  font-family: arial;
  background: #e3bd8d;
  padding: 1rem;
}

body {
  max-width: 800px;
  margin: 0 auto;
  background: white;
  border: transparent;
  border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "微软雅黑";
  color: #4d4030;
  margin: 1rem 0;
}

a {
  color: #4d4030;
}

hr {
  border: none;
  border-top: 1px solid #97846c;
}

nav {
  background: #cfccc9;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 20px;
  color: #4d4030;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

input#username, input#password, input#id_number, input#realname{
  outline-style: none;
  border: 1px solid #ccc;
  border-radius: 3.5px;
  padding: 5px 0px;
  width: 250px;
  font-size: 18px;
  font-family: "Arial";
}

input#sub{
  outline-style: none;
  border: 1px solid #93b5cf;
  border-radius: 3.5px;
  padding: 5px 0px;
  width: 250px;
  font-size: 20px;
  font-family: "微软雅黑";
  background: #d8e3e7;
}

input#save{
  outline-style: none;
  border: 1px solid #93b5cf;
  border-radius: 2px;
  padding: 2px 0px;
  width: 50px;
  font-size: 14px;
  font-family: "微软雅黑";
  background: lightgray;
}

input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

select{
  outline-style: none;
  border: 1px solid #ccc;
  border-radius:3px;
  padding: 5px;
  width:250px;
  font-size: 16px;
  font-family:"微软雅黑";
}

select:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}


div#menubar
{ margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  height: 52px;
  padding: 0;
  background: darkgray;
}

div ul#menu, div ul#menu li
{ float: left;
  margin: 0;
  padding: 0;}

div ul#menu li
{ list-style: none;}

div ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% arial, sans-serif;
  display: block;
  float: left;
  height: 17px;
  margin: 10px 0 0 10px;
  padding: 9px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;}

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #4d4030;
  background: transparent url(transparent_light.png) repeat;}

div#signup{
  margin-left: 80px;
  max-width: 800px;
  padding: auto;
  background: white;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}