{% extends 'base1.html' %}

{% block header %}
  <h1>{% block title %}注册{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div id="signup">
    <form method="POST">
      <label for="username">用户名</label>
      <input name="username" id="username" required>
      <label for="password">密码</label>
      <input type="password" name="password" id="password" required>
      <label for="password">身份证号</label>
      <input name="id_number" id="id_number" required>
      <label for="realname">真实姓名</label>
      <input name="realname" id="realname" required>
      <label for="select1">请选择注册身份</label>
      <select name="type_select" id="select1">
        <option value="user">普通用户</option>
        <option value="admin">投票管理员</option>
      </select><br>
      <input type="submit" value="注册" id="sub">
    </form>
  </div>
{% endblock %}